@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rajdhani-Regular";
  src: url("../fonts/Rajdhani/Rajdhani-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Rajdhani-Medium";
  src: url("../fonts/Rajdhani/Rajdhani-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "Rajdhani-Semibold";
  src: url("../fonts/Rajdhani/Rajdhani-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: "Rajdhani-Bold";
  src: url("../fonts/Rajdhani/Rajdhani-Bold.ttf") format('truetype');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}